* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;

}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__links-list {
  display: flex;
  list-style: circle;
  gap: 35px;
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  text-decoration-skip-ink: none;
  text-underline-offset: 4px;
}

.header_address {
  font-style: inherit;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0%;
  max-width: 240px;
  justify-self: end;
}

.header__logo {
  justify-self: center;
  display: flex;
  width: 148px;
  height: 105px;
 
}

.header_logo-image {
  display: block;
  width: 148px;
  height: 105px;
}

.header__link_active a {
   text-decoration: none;
}

.header__links-list-item_no-bullit {
list-style-type: none;
}

.place {
  white-space: normal;
}

.telefon_number {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 4px;
}

.email {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 4px;
}

.overlay {
  position: relative;
  min-height: 757px;
  linear-gradient: (rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  
}

.cover {
  display: grid;
  width: 1100px;
  height: 757px;
  margin:0 auto;
  padding-left: 50px;
  padding-top: 165px;
  padding-right: 50px;
  padding-bottom: 50px;
  background-image: 
  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url('../images/cover.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}

.cover_title {
  display: grid;
  text-transform: uppercase;
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 100px;
  line-height: 114.99999999999999%;
  letter-spacing: 0.3em;
  color: #FFFFFF;
  gap: 20px;
}

.cover_title-left {
  text-align: start;
}

.cover_title-center {
 text-align: center;
 margin-left: 30px;
}

.cover_title-right {
  text-align: right;
  margin-right: -30px;
}

.description {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 106px;
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #FFFFFF;
  justify-content: space-between;
}

.description-text {
  word-spacing: 84%;
  letter-spacing: 0%;
}

.bet-button {
  width: 256px;
  height: 52px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  text-transform: uppercase;
}

.lots {
  width: 1052px;
  height: 723px;
  margin-top: 180px;
  margin-left: 24px;
  margin-right: 24px;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  list-style: none;

}

.lots_heading {
font-family: Raleway;
font-weight: 700;
font-style: Bold;
font-size: 40px;
text-transform: uppercase;
margin-left: 40px;
margin-bottom: 27px;
}

.lots__card-list-item-left {
  width: 334px;
  height: 596px;
  background-image: 
  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url('../images/card-lot-01.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding: 40px 48px 40px 48px;
  gap: 274px;
  
}

.lots__card-list-item-center {
   width: 334px;
  height: 596px;
  background-image: 
  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url('../images/card-lot-02.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding: 40px 48px 40px 48px;
}

.lots__card-list-item-right {
  width: 334px;
  height: 596px;
  background-image: 
  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url('../images/card-lot-03.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding: 40px 48px 40px 48px;
}

.card__title-left {
  width:254px;
  height: 82px;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  line-height: 120%;
  text-underline-offset: 4px;
  text-decoration-skip-ink: none;
  color: #FFFFFF;
  margin-left: -8px;
  margin-top: 7px;

}

.card__title-center {
  width: 254px;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  line-height: 120%;
  text-underline-offset: 4px;
  text-decoration-skip-ink: none;
  color: #FFFFFF;
  margin-left: -8px;
  margin-top: 6px;
}

.card__title-right {
  width: 254px;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  line-height: 120%;
  text-underline-offset: 4px;
  text-decoration-skip-ink: none;
  color: #FFFFFF;
  margin-left: -8px;
  margin-top: 7px;
}

.card__text-left {
  width: 254px;
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 120%;
  color: #FFFFFF;
  margin-left: -9px
}

.card__text-center {
  width: 254px;
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 120%;
  color: #FFFFFF;
  margin-top: 37px;
  margin-left: -8px;
}

.card__text-right {
  width: 254px;
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 120%;
  color: #FFFFFF;
  margin-left: -8px;
  margin-top: 132px;
}

.lots__look-more-link {
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  margin-left: 40px;
  margin-top: 30px;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-skip-ink: none;
}

.about {
  width: 1052px;
  height: 595px;
  display: grid;
  grid-template-columns: 334px 1fr;
  margin-top: 120px;
  margin-right: 24px;
}

.about_logo {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  background-color: #000000;
  margin-left: 47px;
  margin-top: 35px;
}

.about_logo-img {
  width: 148px;
  height: 114px;
}

.about__container {
  width: 693px;
  height: 449px;
  justify-self: end;
  align-self: end;
}

.about-tittle-text {
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  margin-left: 24px;
  margin-top: -4px;
}

.about_text_container {
  display: grid;
  gap: 24px;
  margin-top: 100px;
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 24px;
  margin-left: 25px
}

.about__text-top {
  width: 688px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1100px;
  height: 180px;
  margin-top: 180px;
}

.footer_address {
  margin-left: 50px;
}

.footer_telefon_number {
  font-style: normal;
  font-size: 18px;
  line-height: 24.3px;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;

}

.footer_email {
  font-style: normal;
  font-size: 18px;
  line-height: 24.3px;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;

}

.footer_place {
  font-style: normal;
  font-size: 18px;
  line-height: 24.3px;

}

.footer__links-list {
  font-size: 18px;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 163.9px;
  height: 64px;
  top: 1px;
  left: 468.6px;
  list-style: none;
  margin-left: 154px;

}

.footer__link_active a {
  text-decoration: none;
}

.footer__social-list-item {
  list-style: none;
  display: flex;
  gap: 48px;
  margin-left: 177px;
  margin-right: 50px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
